<h1>Today's list <small>{{date}}</small></h1>

<div class="actions">
<a class="previous-day" href="/account?date={{previous_date}}">Previous date</a>
<a class="next-day" href="/account?date={{next_date}}">Next date</a>
</div>

<form action="/account?date={{date}}" method="POST">
	<input type="hidden" name="date" value="{{date}}">
	<table class="jobs" border="0" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th class="job_number">Job number</th>
				<th class="hours">Hours</th>
				<th class="description">Description</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<td colspan="3"><a class="add-more" href="#">+ Add more</a></td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" name="submit" value="Update"></td>
			</tr>
		</tfoot>

		<tbody>
			{{#jobs}}
			<tr>
				<td>{{job_number}}</td>
				<td>{{hours}}</td>
				<td>{{description}}</td>
			</tr>
			{{/jobs}}
			<tr>
				<td><input class="job-number-field" type="text" name="job_number[]" value="" placeholder=""></td>
				<td><input class="job-hours-field" type="text" name="hours[]" value="" placeholder=""></td>
				<td><input class="job-description-field" type="text" name="description[]" value="" placeholder=""></td>
			</tr>
		</tbody>
	</table>

</form>
